<div class="row">
    <div class="col-md-12 col-lg-6 col-xxxl-6 " >
        <div style="padding: 2px;">
            <div
                class="dropzone"
                fileDragDrop
                (filesChangeEmiter)="onFileChange($event)"
            >
                <div class="text-wrapper text-center">
                <div class="centered">
                    <input
                    type="file"
                    accept=".xlsx"
                    name="file"
                    id="file"
                    (change)="onFileChange($event.target.files)"
                    
                    />
                    <div class="container" *ngIf="upload">
                        <h3>Estamos trabajando</h3>
                        <p>Subiendo información...</p>
                        <div class="spinner-border text-success" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                   <div class="container" *ngIf="!upload">
                    <!-- <img src="assets/skins/lightgray/fonts/upload.svg " alt="My Happy SVG" /> -->
                    <label for="file">
                        <span class="textLink">Cargar</span> o soltar aquí!
                    </label>
                   </div>
                </div>
            </div>
            <hr />
            </div>
            <nb-card class="container">
                <nb-list>
                    <nb-list-item *ngIf="solicitudUpload" > 
                        <div class="container row text-center" >
                            <div class="col-lg-12 col-12 mb-3" *ngIf="tipo == 'CARGAS_ACADEMICAS'">
                                 <nb-toggle labelPosition="left" [(ngModel)]="solicitudUpload.nuevoPeriodo">Nuevo periodo</nb-toggle>
                                <!-- <nb-checkbox (checkedChange)="toggle($event)" [(ngModel)]="solicitudUpload.nuevoPeriodo">Nuevo periodo</nb-checkbox> -->
                            </div>
                            <div class="col-lg-2 col-2 d-none d-lg-block">
                                <img src="assets/skins/lightgray/fonts/excel.svg "alt="My Happy SVG" />
                            </div>
                            <div  class="col-5 col-lg-3 col-2 d-none d-lg-block" >
                                <nb-user [name]="solicitudUpload.username" title="Usuario"> </nb-user>
                            </div>
                            <div class="col-7 col-lg-4">
                                {{ solicitudUpload.nomArchivo }} <br>
                                {{ solicitudUpload.fechaInicio | date: 'hh:mm:ss' }}
                            </div>
                            <div class="col-5 col-lg-3" >
                                {{ solicitudUpload.fechaInicio | date: 'YYYY/mm/dd'}} <br>
                                <p >
                                    {{ solicitudUpload.estado }}
                                </p>
                            </div>
                        </div>
                <!-- <nb-icon icon="archive" pack="fa"></nb-icon> -->
                    </nb-list-item>
                    <nb-list-item *ngIf="solicitudStateUpload" > 
                        <div class="container row text-center" >
                            <div class="col-lg-12 col-12 mb-3" *ngIf="tipo == 'CARGAS_ACADEMICAS' && solicitudStateUpload.nuevoPeriodo">
                                Nuevo periodo
                               <!-- <nb-checkbox (checkedChange)="toggle($event)" [(ngModel)]="solicitudUpload.nuevoPeriodo">Nuevo periodo</nb-checkbox> -->
                           </div>
                            <div class="col-lg-2 col-2 d-none d-lg-block">
                                <img src="assets/skins/lightgray/fonts/excel.svg "alt="My Happy SVG" />
                                <nb-badge [text]="'Nº ' + solicitudStateUpload.numValid" status="success" position="top right"></nb-badge>
                            </div>
                            <div  class="col-5 col-lg-3 col-2 d-none d-lg-block" >
                                <nb-user [name]="solicitudStateUpload.username" title="Usuario"> </nb-user>
                                {{ solicitudStateUpload.valid }}
                            </div>
                            <div class="col-7 col-lg-4">
                                {{ solicitudStateUpload.nomArchivo }} <br>
                                {{ solicitudStateUpload.fechaInicio | date: 'hh:mm:ss' }}
                                <!-- <div class="clock">
                                    <div class="hours">
                                        <div class="horas">
                                            <span class="mishoras">{{hora}}:{{minutos}}.{{segundos}}</span>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <div class="col-5 col-lg-3" >
                                {{ solicitudStateUpload.fechaInicio | date: 'YYYY/mm/dd'}} <br>
                                <p >
                                    {{ solicitudStateUpload.estado }}
                                </p>
                            </div>
                        </div>
                <!-- <nb-icon icon="archive" pack="fa"></nb-icon> -->
                    </nb-list-item>
                </nb-list>
                <div class="container row divPadre" *ngIf="solicitudUpload" style="margin-top: 15px; margin-bottom: 15px;">
                    <div class="divHijo">
                        <button
                            type="button"
                            class="cancel col-md-5"
                            nbButton
                            status="basic"
                            (click)="deleteFromArray()"
                        >
                            Cancelar
                        </button>
                        <button nbButton status="warning" [nbSpinner]="load" (click)="onSubmit()"  class="button-them col-md-5" >Enviar</button>
                    </div>
                </div>
            </nb-card>
        </div>
    </div>

    <div class="col-md-12 col-lg-6 col-xxxl-6" >
        <nb-card class="list-card" size="small">
            <nb-card-header>Solicitudes de {{titulo}}</nb-card-header>
            <nb-card-body>
                <nb-list  *ngIf="solicitudesUpload.length > 0">
                    <nb-list-item *ngFor="let solicitud of solicitudesUpload" [nbSpinner]="solicitud.load" nbSpinnerSize="large" nbSpinnerStatus="primary"> 
                        <div class="container row text-center" >
                            <div class="col-lg-12 col-12 mb-3" *ngIf="tipo == 'CARGAS_ACADEMICAS' && solicitud.nuevoPeriodo">
                                Nuevo periodo
                               <!-- <nb-checkbox (checkedChange)="toggle($event)" [(ngModel)]="solicitudUpload.nuevoPeriodo">Nuevo periodo</nb-checkbox> -->
                           </div>
                            <div class="col-lg-2 col-2 d-none d-lg-block">
                                <img src="assets/skins/lightgray/fonts/excel.svg "alt="My Happy SVG" />
                                <nb-badge [text]="'Nº ' + solicitud.numValid" status="success" position="top right"></nb-badge>

                            </div>
                            <div  class="col-5 col-lg-3 col-2 d-none d-lg-block" >
                                <nb-user [name]="solicitud.username" title="Usuario"> </nb-user>
                            </div>
                            <div class="col-7 col-lg-4">
                                {{ solicitud.nomArchivo }} <br>
                                {{ solicitud.tiempo }}
                            </div>
                            <div class="col-5 col-lg-3" >
                                {{ solicitud.fechaInicio | date: 'YYYY/MM/dd'}} <br>
                                <p >
                                    {{ solicitud.estado }}
                                </p>
                            </div>
                        </div>
                        <!-- <nb-icon icon="archive" pack="fa"></nb-icon> -->
                    </nb-list-item>
                </nb-list>
                <nb-list  *ngIf="solicitudesUpload.length == 0">
                    <nb-list-item > 
                        <div class="container row text-center" >
                            <div class="col-lg-12 col-12 d-none d-lg-block">
                                <img src="assets/skins/lightgray/fonts/excel.svg "alt="My Happy SVG" />
                                <p>Aún no existen registros, aquí aparecerán las solicitudes que crees al cargar archivos </p>
                            </div>
                            
                        </div>
                        <!-- <nb-icon icon="archive" pack="fa"></nb-icon> -->
                    </nb-list-item>
                </nb-list>
            </nb-card-body>
        </nb-card>
    </div>

</div>    
<div class="col-md-12 col-lg-12" *ngIf="isErrors">
    <ngx-list-error-upload [errores]="respuestaUpload.errores"></ngx-list-error-upload>
</div>