<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>
        Buscar persona
    </nb-card-header>
      <nb-card-body>
        <div class="form-inline">
          <input [(ngModel)] ="identificationFind" type="text" nbInput fullWidth placeholder="Numero de documento" />
          <button type="submit" nbButton status="primary" (click)="ngSearch()">Buscar</button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="container" *ngIf="ready">
  <div class="row" *ngIf="usuario && usuario.tipoPersona == 'ESTUDIANTE'">
    <div class="col-md-4">
        <ngx-info-persona [usuario]="usuario" ></ngx-info-persona>    
        <ngx-user-activity [actividades] = actividades></ngx-user-activity>
    </div>
    <div class="col-md-8">
      <div class="summary-container">
        <div>
          <div>Faltas</div>
          <div class="h6">{{ horasTotalesFaltas }} H</div>
        </div>
        <div>
          <div>Asistencia</div> 
          <div class="h6">{{ horasTotalesAsistencia }} H</div>
        </div>
        <div>
          <div>Asistencia</div>
          <div class="h6 green">{{ porcentajeTotalCarga | number:'1.1-2'}}%</div>
        </div>
      </div>
      <br>
      <ngx-matriculas-estudiante [matriculas]="matriculas"></ngx-matriculas-estudiante>
      <nb-card size="medium">
        <nb-card-header>
          Horario
        </nb-card-header>
        <nb-card-body>
          <ngx-horario *ngIf="initialEvents.length != 0" [initialEvents]="initialEvents" [usuario] = "usuario"></ngx-horario>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="row" *ngIf="usuario && usuario.tipoPersona == 'DOCENTE'">
    <div class="col-md-4" >
        <ngx-info-persona [usuario]="usuario" ></ngx-info-persona>    
        <!-- <ngx-user-activity [actividades] = actividades></ngx-user-activity> -->
    </div>
    <div class="col-md-8" >
      <div class="summary-container">
        <div>
          <div>Faltas</div>
          <div class="h6">{{ horasTotalesFaltas }} H</div>
        </div>
        <div>
          <div>Asistencia</div> 
          <div class="h6">{{ horasTotalesAsistencia }} H</div>
        </div>
        <div>
          <div>Asistencia</div>
          <div class="h6 green">{{ porcentajeTotalCarga | number:'1.1-2'}}%</div>
        </div>
      </div>
      <br>
      <ngx-carga-docente [cargas]="cargas"></ngx-carga-docente>
      <nb-card size="medium">
        <nb-card-header>
          Horario
        </nb-card-header>
        <nb-card-body>
          <ngx-horario *ngIf="initialEvents.length != 0" [initialEvents]="initialEvents" [usuario] = "usuario"></ngx-horario>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>


