@import '../../../@theme/styles/themes';


.form-inline [fullWidth] {
    flex: 1;
}

.form-inline>* {
    margin: 0 1.5rem 1.5rem 0;
}




@include nb-install-component() {
    .red {
        color: nb-theme(color-danger-default);
    }

    .green {
        color: nb-theme(color-success-default);
    }

    .summary-container {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        background-color: nb-theme(background-basic-color-2);
        justify-content: space-between;
        padding: 1.5rem 4rem 1rem;
        border: 1px solid nb-theme(border-basic-color-3);
        border-left: none;
        border-right: none;
    }

    .summary-list {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        // background-color: nb-theme(background-basic-color-2);
        justify-content: space-between;

    }
}