@import "../../../../app/@theme/styles/themes";
::ng-deep {
    ng2-st-tbody-edit-delete {
      display: none;
      height: 0 !important;
    }
  
    ng2-st-tbody-custom {
      display: flex;
      text-align: center;
    }
    .fa-eye{
        font-size: 23px;
        color: nb-theme(color-primary-default);
    }
  }
