

<nb-card>
  <nb-card-header>Info. Persona</nb-card-header>
  <nb-card-body>
      <div class="container">
        <strong class="mt-5 mb-5 p2">Número de documento: </strong> {{usuario.documento}}
      </div>
      <div class="container mt-2">
        <strong>Nombres: </strong> {{usuario.nombres}}
      </div>
      <div class="container mt-2">
        <strong>Apellidos: </strong> {{usuario.apellidos}}
      </div>
      <div class="container mt-2">
        <strong>Tipo persona: </strong> {{usuario.tipoPersona}}
      </div>
      <div class="container mt-2">
        <strong class="mt-5 mb-5 p2">Correo: </strong> {{usuario.email}}
      </div>
  </nb-card-body>
</nb-card>