<form
  (ngSubmit)="onSubmit()"
  [formGroup]="form"
  aria-labelledby="title"
  autocomplete="off"
>
  <nb-card>
    <nb-card-header>Nueva sede</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label class="label" for="input-nombre">Nombre*:</label>
            <input
              nbInput
              fullWidth
              id="input-nombre"
              placeholder="Nombre del campo"
              formControlName="nombre"
              [status]="
                f.nombre.dirty
                  ? f.nombre.invalid
                    ? 'danger'
                    : 'success'
                  : 'basic'
              "
              [attr.aria-invalid]="
                f.nombre.invalid && f.nombre.touched ? true : null
              "
            />
          </div>
          <ng-container *ngIf="f.nombre.invalid && f.nombre.touched">
            <app-form-errors
              [control]="f.nombre"
              campo="email"
            ></app-form-errors>
          </ng-container>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <span class="label-with-link">
              <label class="label" for="input-cupo">Cupo*:</label>
            </span>
            <input
              nbInput
              fullWidth
              id="input-email"
              placeholder="Cupo"
              type="text"
              formControlName="cupo"
              [status]="
                f.cupo.dirty
                  ? f.cupo.invalid
                    ? 'danger'
                    : 'success'
                  : 'basic'
              "
              [attr.aria-invalid]="
                f.cupo.invalid && f.cupo.touched ? true : null
              "
            />
          </div>
          <ng-container *ngIf="f.cupo.invalid && f.cupo.touched">
            <app-form-errors
              [control]="f.cupo"
              campo="Cupo"
            ></app-form-errors>
          </ng-container>
        </div>
        
        <div class="col-sm-6">
          <div class="form-group">
            <span class="label-with-link">
              <label class="label" for="input-dimension">Dimension*:</label>
            </span>
            <input
              nbInput
              fullWidth
              id="input-dimension"
              placeholder="Dimension"
              type="dimension"
              formControlName="dimension"
              type="number"
              [status]="
                f.dimension.dirty
                  ? f.dimension.invalid
                    ? 'danger'
                    : 'success'
                  : 'basic'
              "
              [attr.aria-invalid]="
                f.dimension.invalid && f.dimension.touched ? true : null
              "
            />
          </div>
          <ng-container *ngIf="f.dimension.invalid && f.dimension.touched">
            <app-form-errors
              [control]="f.dimension"
              campo="Dimension"
            ></app-form-errors>
          </ng-container>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <span class="label-with-link">
              <label class="label" for="input-codDispositivo">Dispositivo:</label>
            </span>
            <input
              nbInput
              fullWidth
              id="input-codDispositivo"
              placeholder="Dispositivo"
              type="codDispositivo"
              formControlName="codDispositivo"
              type="string"
              [status]="
                f.codDispositivo.dirty
                  ? f.codDispositivo.invalid
                    ? 'danger'
                    : 'success'
                  : 'basic'
              "
              [attr.aria-invalid]="
                f.codDispositivo.invalid && f.codDispositivo.touched ? true : null
              "
            />
          </div>
          <ng-container *ngIf="f.codDispositivo.invalid && f.codDispositivo.touched">
            <app-form-errors
              [control]="f.codDispositivo"
              campo="Dispositivo"
            ></app-form-errors>
          </ng-container>
        </div>

        <div class="col-sm-12">
          <div class="form-group">
            <br />
            <span class="label-with-link">
              <ng-select
                [items]="selectTipoSalon"
                formControlName="idTipoSalon"
                id="idTipoSalon"
                bindLabel="name"
                bindValue="id"
                placeholder="Tipo:"
              >
              </ng-select>
              <ng-container *ngIf="f.idTipoSalon.invalid && f.idTipoSalon.touched">
                <app-form-errors
                  [control]="f.idTipoSalon"
                  campo="Extension"
                ></app-form-errors>
              </ng-container>
            </span>
          </div>
        </div>
      </div>

    </nb-card-body>
    <nb-card-footer>
      <button
        type="button"
        class="cancel"
        (click)="cancel()"
        nbButton
        status="basic"
      >
        Cancel
      </button>
      <button nbButton [disabled]="form.invalid" class="button-them">Submit</button>
    </nb-card-footer>
  </nb-card>
</form>
